{{#if (eq componentType 'client component')}}
'use client';
{{/if}}
export default function {{ pascalCase name }} () {
  return (
    <div>
      <h1>{{ pascalCase name }} Component</h1>
    </div>
  );
}
